* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;
    color: #1C2833;

}

h1 {

    font-size: 1rem;
    padding: 5px;
    opacity: 0.4;

}

.glassmorphism {

    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);

}