.settings {

    width: 90%;
    max-width: 500px;
    padding: 0 1rem;
    margin: 0 auto;
    border-radius: .5rem;
}

.settings h2 {

    text-align: center;

}

.setting {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}